.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: Arial, sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  position: relative;

  &.primary {
    background-color: var(--shade);
    color: var(--primary-text-color);

    &:hover {
      background-color: var(--success-color);
    }
  }

  &.secondary {
    background-color: #6c757d;
    color: white;

    &:hover {
      background-color: #5a6268;
    }
  }

  &.danger {
    background-color: #dc3545;
    color: white;

    &:hover {
      background-color: #c82333;
    }
  }

  // Sizes
  &.small {
    font-size: var(--font-size-xs);
    padding: var(--space-xs) var(--space-s);
  }

  &.medium {
    font-size: var(--font-size-m);
    padding: var(--space-s) var(--space-m);
  }

  &.large {
    font-size: var(--font-size-l);
    padding: var(--space-m) var(--space-l);
  }

  &.xlarge {
    font-size: var(--font-size-xxl);
    padding: var(--space-l) var(--space-xl);
  }

  &.xxlarge {
    font-size: var(--font-size-xxxl);
    padding: var(--space-xl) var(--size-xl);
  }

  .close-button {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: inherit;

    &:hover {
      color: #ff0000;
    }
  }
}
