.message-input-bar {
  display: flex;
  align-items: center;
  padding: var(--space-s);
  background-color: var(--shade-5pct);
  border-top: 1px solid var(--shade-20pct);

  .message-input {
    flex: 1;
    margin-right: var(--space-s);

    .input-field {
      width: 100%;
      padding: var(--space-s);
      font-size: var(--font-size-m);
      border-radius: var(--border-radius-s);
      border: 1px solid var(--shade-20pct);
    }
  }

  .send-button {
    padding: var(--space-s) var(--space-m);
    font-size: var(--font-size-m);
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius-s);
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--primary-color-50pct);
    }
  }
}
